body {
    background-color: #DCDCDC;
}

a:active {
    color: black;
}
a:hover {
    color: blue;
}

h1 {
    text-align: center;
    font-size: 70px;
    color:  #e60000;
}

h2 {
    color:  #e60000;
}
#page {
    width: 600px;
    margin: auto;
    background-color: white;
    border: 20px solid white;
}

img {
    width: 600px;
}

li {
    font-size: 17px;
}

p {
    font-size: 17px;
    line-height: 1.5
}

#map {
    float:left;
    width: 200px;
    margin-right: 20px;
}

